body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 19px;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}
.container {
    width: 1440px;
    position: relative;
    padding: 0 15px;
    min-height: 100%;
    margin: 0 auto;
}
.btn1{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 107.4%;
    background-color: #37B449;
    border-radius: 100px;
    padding: 20px 37px 20px 37px;
    }
    .btn2{
    color: #37B449;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 107.4%;
    padding: 20px 35px 20px 25px;
    border:none;
    border:solid 2px #37B449;
    border-radius: 100px;
    }

/*HEADER*/

.header{
    background-color: #FB8E26;
    height: 100px;
    padding-top: 15px;
}
.header__top-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 58px;
}
.header__nav-item:last-child{
    margin-right: 0;
}
.header__nav-link {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.4%;
    text-transform: uppercase;
    color: #FFF;
}
.header__call-text {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.4%;
    text-transform: uppercase;
    margin-right: 25px;
    margin-top: 20px;
}
.header__button{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 107.4%;
    border-radius: 100px;
    background: #37B449;
    padding: 20px 46px 20px 46px;
}
.header__call-info{
    display: flex;
}
.header__main{
    display: flex;
    align-items: center;
}
.header__logo{
    margin-right: 52px;
}

/*rev*/
.rewiew{
    padding-top: 48px;
    padding-bottom: 181px;
}
.otz{
    color: rgba(0, 0, 0, 0.41);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 57px;
}
.rew__head{
    color: #000;
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.4%;
    margin-bottom: 57px;
}
.rewiew__in{
    padding-left: 70px;
}
.switch {
    width: 191px;
    height: 32px;
    border-radius: 32px;
    background-color: #ccc;
    cursor: pointer;
}

.switch.active {
    background-color: #4CAF50;
}
.feedback__box {
    display: flex;
    margin-bottom: 58px;
}

.feedback__name {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.4%;
    margin-right: 35px;
    margin-top: 154px;
}
.feeedback__text {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.4%;
    border-radius: 15px;
    background: #FB8E26;
    max-width: 860px;
    padding: 12px 22px 18px 22px;
}
.feedback__box-btn {
    margin-top: 120px;
}
.rew__btn{
    margin-right: 40px;
}
/*form*/
.form {
    padding-top: 110px;
    padding-bottom: 110px;
    background: #37B449;
}
form__wraper{
    position: relative;
}
.form__bit1{
    position: absolute;
    top: 1900px;
    left: 210px;
}
.form__bit2{
    position: absolute;
    top: 1750px;
    right: 345px;
}
.form__ins {
    display: flex;
    align-items: center;
}
.form__tell {
    border-radius: 100px;
    padding: 20px 350px 20px 15px;
    margin-right: 180px;
}
.form__button {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 107.4%;
    border-radius: 100px;
    background: #FB8E26;
    padding: 20px 45px 20px 45px;
}
.form__container{
    padding-left: 90px;
}
/*footer*/
.footer {
    height: 100px;
    background-color: #FB8E26;
    padding-top: 15px
}

.footer__top-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__main {
    display: flex;
    align-items: center;
}
.footer__logo {
    margin-right: 52px;
}

.footer__nav-list {
    display: flex;
}
.footer__nav-item {
    margin-right: 58px;
}
.footer__nav-item:last-child{
    margin-right: 0;
}
.footer__nav-link {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.4%;
    text-transform: uppercase;
    color: #FFF;
}
.footer__call-info {
    display: flex;
    align-items: center;
}
.footer__call-text {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.4%;
    text-transform: uppercase;
    margin-right: 90px;
}
.footer__button {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 107.4%;
}